@import "tailwindcss";

@layer base {
  body {
    @apply m-0 bg-transparent text-white font-sans;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    user-select: none;
  }

  #root {
    @apply w-full h-screen flex flex-col;
    border-radius: 12px;
  }
}
